.images-container{
    width:100%;
    display: flex;
    row-gap: 18px; 
    flex-wrap: wrap; 
    justify-content: space-around;
}

.images-container img {
    width: 162px;
    height: 166px;
    margin: 15px;
    transition: transform 0.2s;
}