

.card-container {
    
    padding: 12px; 
    border-radius: 10px;
    width: 148px; 
    height: 115px; 
    margin-left: 18px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    
  }
  
  .titleWord {
    font-size: 24px; 
    margin-bottom: 10px; 
    font-family: 'Rubik', sans-serif;
  }
  
  .titleMeaning {
    font-size: 16px; 
     
     font-family: 'Lora', serif;
  }
  .card-container.matched {
    background-color: #a3e7a3; 
  }
  .drag-over-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .centered-icon {
    margin-top: 10px; 
  }